*.glob
*.v.d
*.vo
*.vos
*.vok
*.vio
*.aux
*.log
*.nav
*.out
*.snm
*.fdb_latexmk
*.toc
*.synctex.gz
*.vrb
*.fls
_minted*
.depend
depend.d
depend.dot
.coqdeps.d
Makefile.conf
.CoqMakefile.d
.Makefile.coq.d
.Makefile.d
.lia.cache
3rdparty/ALEA/.lia.cache
*.cmi
*.cmo
*.cmx
*.o
TAGS
scripts/ocamldot
scripts/ocamldot.ml
src/LRrule/lrcoeff.ml
src/LRrule/lrcoeff.mli
src/LRrule/schensted.ml
src/LRrule/schensted.mli
